{% extends "layout.html.twig" %} 
{% block content %} 
{% loop while have.posts %}
    {% block post %} 
                <article {{ post_class() }} id="post-{{ the_ID() }}">
                    {% block post_title %} 
                    {% spaceless %}
                    <h1 class="entry-title">
                        <a class="entry-permalink" href="{{ the_permalink() }}">{{ the_title() }}</a>
                    </h1>    
                    {% endspaceless %} 
                    {% endblock post_title %}
                    {% block post_content %}    
                    <div class="entry-content">
                        {{ the_content() }}
                    </div>
                    {% endblock post_content %}
                    {% block post_meta %} 
                    <div class="post-meta">
                        <div class="post-author">{{ the_author() }}</div>
                        <div class="post-pubtime"><time>{{ the_time() }}</time></div>
                    </div>
                    {% endblock post_meta %} 
                </article>
    {% endblock post %}
{% endloop %}
{% endblock content %}